.dashboard-favorites .item,
.dashboard-saved-searches .item,
.dashboard-institution .item {
  padding: 15px 0 15px 0;
  position: relative;
}

.dashboard-favorites .item img,
.dashboard-saved-searches .item img {
  margin-left: 36px;
}

.dashboard-favorites .thumbnail-wrapper .item-options,
.dashboard-saved-searches .thumbnail-wrapper .item-options {
  background-color: transparent;
}

.dashboard-favorites .results-list.grid .item,
.dashboard-saved-searches .results-list.grid .item {
  width: 220px;
}

.dashboard-favorites .results-list.grid .title,
.dashboard-saved-searches .results-list.grid .title {
  font-size: 1.063em;
  text-align: center;
}

.dashboard-favorites .summary .information,
.dashboard-saved-searches .summary .information,
.dashboard-institution .summary .information {
  background: url("../images/icons/ddbIkonographie.png") -24px -84px no-repeat;
  position: relative;
}

.dashboard-message {
  padding: 0 0 10px 20px;
}

.dashboard-saved-searches {
  margin-bottom: 20px;
}
